[Unit]
Description=zookeeper

[Service]
ExecStart=/home/ubuntu/kafka/kafka_2.13-3.7.0/bin/zookeeper-server-start.sh /home/ubuntu/kafka/kafka_2.13-3.7.0/config/zookeeper.properties

[Install]
WantedBy=multi-user.target